# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\INFO2\LEPL1402_MergeSortImplementation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
