# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\INFO2\Test\evaluation2_2020_for_students\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
